<% if notice %>
    <div class="alert alert-light alert-dismissible fade show" role="alert">
        <%= notice %>
    </div>
<% end %>

<% if alert %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= alert %>
    </div>
<% end %>